<div class="container">
    <div>
        <h1>Registration</h1>
    </div>
    <div class="w-100">
        <table class="w-100 border">
            <tr>
                <td class="w-50 p-2" colspan="2">
                    <table class="w-100 border">
                        <tr>
                            <td class="w-50 p-2">
                                <div>
                                    <label>Sub Division</label>
                                    <input type="text" placeholder="Enter sub division" class="form-control">
                                </div>
                            </td>
                            <td class="w-50 p-2">
                                <div>
                                    <label>Police Station</label>
                                    <input type="text" placeholder="Enter police station" class="form-control">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="p-2">
                                <div>
                                    <label>Crime  No</label>
                                    <input type="text" placeholder="Enter crime no." class="form-control">
                                </div>
                            </td>
                            <td class="p-2">
                                <div>
                                    <label>Previous Case</label>
                                    <input type="text" placeholder="Enter previous case" class="form-control">
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="2" class="p-2">
                    <table class="w-100 border">
                        <tr>
                            <td class="p-2 w-50">
                                <div>
                                    <label>Full Name</label>
                                    <input type="text" placeholder="Enter your name" class="form-control">
                                </div>
                            </td>
                            <td class="p-2 w-50">
                                <div>
                                    <label>Nick Name</label>
                                    <input type="text" placeholder="Enter nick name" class="form-control">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="p-2">
                                <div>
                                    <label>Father's Name</label>
                                    <input type="text" placeholder="Enter father's name" class="form-control">
                                </div>
                            </td>
                            <td class="p-2">
                                <div>
                                    <label>Contact No.</label>
                                    <input type="number" placeholder="Enter contact no." class="form-control">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="p-2">
                                <div>
                                    <label>Alternate Number</label>
                                    <input type="number" placeholder="Enter alternate no." class="form-control">
                                </div>
                            </td>
                            <td class="p-2">
                                <div>
                                    <label>Address</label>
                                    <textarea placeholder="Enter address" class="form-control"></textarea>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="p-2">
                                <div>
                                    <label>Email ID</label>
                                    <input type="email" placeholder="Enter email id" class="form-control">
                                </div>
                            </td>
                            <td class="p-2">
                                <div>
                                    <label>Name of Spouse</label>
                                    <input type="text" placeholder="Enter Spouse name" class="form-control">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="p-2">
                                <div>
                                    <label>Name of Son/Daughter</label>
                                    <input type="text" placeholder="Enter son/daughter name" class="form-control">
                                </div>
                            </td>
                            <td class="p-2">
                                <div>
                                    <label>Upload Photo</label>
                                    <input class="form-control" type="file">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="p-2">
                                <div>
                                    <label>Note</label>
                                    <textarea class="form-control" placeholder="Enter notes"></textarea>
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td class="p-2" colspan="2">
                    <table class="w-100 border">
                        <tr>
                            <td class="p-2">
                                <h6><b>Address Proof</b></h6>
                            </td>
                        </tr>
                        <tr>
                            <td class="p-2">
                                <div>
                                    <label>Aadhar</label>
                                    <input type="text" placeholder="Enter aadhar no." class="form-control">
                                </div>
                            </td>
                            <td class="p-2">
                                <div>
                                    <label>Voter's ID</label>
                                    <input type="text" placeholder="Enter voter's id no." class="form-control">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="p-2">
                                <div>
                                    <label>Passport</label>
                                    <input type="text" placeholder="Enter passport no." class="form-control">
                                </div>
                            </td>
                            <td class="p-2">
                                <div>
                                    <label>Pan Card</label>
                                    <input type="text" placeholder="Enter pan no." class="form-control">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="p-2">
                                <div>
                                    <label>Driving Licence</label>
                                    <input type="text" placeholder="Enter driving licence no." class="form-control">
                                </div>
                            </td>
                            <td class="p-2">
                                <div>
                                    <label>Others</label>
                                    <input type="text" placeholder="Others specify" class="form-control">
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td class="p-2" colspan="2">
                    <table class="w-100 border">
                        <tr>
                            <td class="p-2">
                                <h6><b>Vehicle Number</b></h6>
                            </td>
                        </tr>
                        <tr>
                            <td class="p-2">
                                <div>
                                    <label>Two Wheeler</label>
                                    <input type="text" placeholder="Enter vehicle no." class="form-control">
                                </div>
                            </td>
                            <td class="p-2">
                                <div>
                                    <label>Four Wheeler</label>
                                    <input type="text" placeholder="Enter vehicle no." class="form-control">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="p-2">
                                <div>
                                    <label>Others</label>
                                    <input type="text" placeholder="Enter vehicle no." class="form-control">
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td class="p-2" colspan="2">
                    <table class="w-100 border">
                        <tr>
                            <td class="p-2">
                                <div>
                                    <h6><b>Social Media Accounts</b></h6>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="p-2">
                                <div>
                                    <label>Twitter</label>
                                    <input type="text" placeholder="Enter URL" class="form-control">
                                </div>
                            </td>
                            <td class="p-2">
                                <div>
                                    <label>Facebook</label>
                                    <input type="text" placeholder="Enter URL" class="form-control">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="p-2">
                                <div>
                                    <label>Instagram</label>
                                    <input type="text" placeholder="Enter URL" class="form-control">
                                </div>
                            </td>
                            <td class="p-2">
                                <div>
                                    <label>Telegram</label>
                                    <input type="text" placeholder="Enter URL" class="form-control">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="p-2">
                                <div>
                                    <label>Snapchat</label>
                                    <input type="text" placeholder="Enter URL" class="form-control">
                                </div>
                            </td>
                            <td class="p-2">
                                <div>
                                    <label>Others</label>
                                    <input type="text" placeholder="Enter URL" class="form-control">
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td class="p-2">
                    <label>UPI Id Details</label>
                    <input type="text" placeholder="Enter UPI id details" class="form-control">
                </td>
            </tr>
        </table>
    </div>
</div>
